<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
    http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Load CXF modules from cxf.jar -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>

    <import resource="classpath:/applicationContext.xml" />

    <!--Clientside: Service based on CustomerProvisioningService.wadl   -->
    <jaxrs:client id="customerProvisioningClient"
                  address="http://localhost:9092/cxf-rs/services/rest"
                  serviceClass="name.marmac.tutorials.java.cxf.services.web.rest.api.customerservice.CustomerProvisioningService">

        <jaxrs:providers>
            <ref bean="jaxbProvider"/>
            <ref bean="jsonjaxbProvider" />
        </jaxrs:providers>

        <jaxrs:headers>
            <entry key="Accept" value="application/json"></entry>
        </jaxrs:headers>

    </jaxrs:client>



</beans>

