# Java settings #
*.class

# Maven settings #
*/target/*
*/target/**

# IntelliJ settings #
*.idea/
*.iml
*.iws
*.ipr

# Eclipse working files
.settings
.project
.classpath

# Package files #
*.jar
*.war
*.ear

