<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
    http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Load CXF modules from cxf.jar -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>

    <!--Serverside: Service based on CustomerProvisioningService.wadl   -->
    <jaxrs:server id="customerProvisioningService"
            address="/crm/provisioning/v1"
            bus="cxf">
        <jaxrs:serviceBeans>
            <ref bean="customerService"/>
        </jaxrs:serviceBeans>

        <jaxrs:schemaLocations>
            <!--
            <jaxrs:schemaLocation>classpath:WEB-INF/wadl/customerprovisioning.wadl</jaxrs:schemaLocation>
            -->
            <jaxrs:schemaLocation>classpath:WEB-INF/xsd/books-example1.xsd</jaxrs:schemaLocation>
        </jaxrs:schemaLocations>

        <jaxrs:providers>
            <ref bean="jaxbProvider"/>
            <ref bean="jsonjaxbProvider" />
        </jaxrs:providers>
    </jaxrs:server>

    <!--  -->
    <bean id="customerService"
              class="name.marmac.tutorials.java.cxf.services.web.rest.server.impl.jaxrs.customerservice.CustomerServiceJAXRSImpl" />


    <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
        <property name="marshallAsJaxbElement" value="true"/>
        <!--
        <property name="schemaHandler" ref="schemaHolder"/>
        -->
    </bean>

    <!--
    <bean id="jsonjaxbProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider">

    </bean>
    -->

    <bean id="jsonjaxbProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider" />

    <!-- SWAGGER SPECIFIC CONFIGURATION - START -->
        <bean id="swaggerResourceJSON"
              class="com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON" />


        <!-- Swagger writers -->
        <bean id="resourceWriter" class="com.wordnik.swagger.jaxrs.listing.ResourceListingProvider" />
        <bean id="apiWriter" class="com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider" />


        <!-- Swagger configuration -->
        <bean id="swaggerConfig" class="com.wordnik.swagger.jaxrs.config.BeanConfig">
            <property name="resourcePackage" value="name.marmac.tutorials.java.cxf.services.web.rest.server.impl.jaxrs.customerservice"/>
            <property name="version" value="${project.version}"/>
            <property name="basePath" value="/api-docs"/>
            <property name="title" value="CUSTOMER PROVISIONING REST API"/>
            <property name="description" value="This is the CUSTOMER PROVISIONING Interface"/>
            <property name="contact" value="marco.maccio@marmac.name"/>
            <property name="license" value="Apache 2.0 License"/>
            <property name="licenseUrl" value="http://www.apache.org/licenses/LICENSE-2.0.html"/>
            <property name="scan" value="true"/>
        </bean>

        <!-- Exception mapper
        <bean id="exceptionMapper" class="com.wordnik.swagger.sample.resource.SampleExceptionMapper" />
        -->

    <!-- SWAGGER SPECIFIC CONFIGURATION - END -->
</beans>

