<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
    http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- Load CXF modules from cxf.jar -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>

    <!--Serverside: Service based on CustomerProvisioningService.wadl   -->
    <jaxrs:server id="customerProvisioningService"
            address="/services/rest/"
            bus="cxf" docLocation="classpath:/WEB-INF/wadl/CustomerProvisioningService.wadl">
        <jaxrs:serviceBeans>
            <ref bean="customerService"/>
        </jaxrs:serviceBeans>
        <!--
        <jaxrs:schemaLocations>
            <jaxrs:schemaLocation>classpath:WEB-INF/wadl/customerprovisioning.wadl</jaxrs:schemaLocation>
            <jaxrs:schemaLocation>classpath:WEB-INF/xsd/books-example1.xsd</jaxrs:schemaLocation>
        </jaxrs:schemaLocations>
        -->
        <jaxrs:providers>
            <ref bean="jaxbProvider"/>
            <ref bean="jsonjaxbProvider" />
        </jaxrs:providers>
    </jaxrs:server>

    <!--  -->
    <bean id="customerService"
              class="name.marmac.tutorials.java.cxf.services.web.rest.server.impl.jaxrs.customerservice.CustomerServiceJAXRSImpl" />


    <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
        <property name="marshallAsJaxbElement" value="true"/>
        <property name="schemaHandler" ref="schemaHolder"/>
    </bean>

    <!--
    <bean id="jsonjaxbProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider">

    </bean>
    -->

    <bean id="jsonjaxbProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider" />

    <bean id="schemaHolder" class="org.apache.cxf.jaxrs.utils.schemas.SchemaHandler">
       <property name="schemas" ref="theSchemas"/>
    </bean>

    <util:list id="theSchemas">
      <value>classpath:/WEB-INF/xsd/Customers.xsd</value>
    </util:list>


</beans>

